{% extends "students/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans "Delete" %}{% endblock meta_title %}
{% block title %}{% trans "Delete" %}{% endblock title %}

{% block content %}

<form {% if "/exams/" in request.path %}action="{% url "exams_delete" object.id %}"
			{%elif "/groups/" in request.path %}action="{% url "groups_delete" object.id %}"
			{%elif "/students/" in request.path %}action="{% url "students_delete" object.id %}"
			{% endif%}
			 method="post">
	{% csrf_token %}
	{% if "/groups/" in request.path %}
	<p>{% blocktrans %}Do you really want to delete group: "{{ object }}"?{% endblocktrans %}</p>
	{% elif "/students/" in request.path %}
	<p>{% blocktrans %}Do you really want to delete student: "{{ object }}"?{% endblocktrans %}</p>
	{% elif "/exams/" in request.path %}
	<p>{% blocktrans %}Do you really want to delete exam: "{{ object }}"?{% endblocktrans %}</p>
	{% endif %}
	<input type="submit" value="{% trans "Yes" %}" name="delete_button"
	 			 class="btn btn-danger"/><br/><br/>

	<a href="{% if "/groups/" in request.path %}{% url "groups" %}
			{% elif "/students/" in request.path %}{% url "home" %}
			{% elif "/exams/" in request.path %}{% url "exams" %}{% endif %}"
	class "btn btn-info">{% trans "No" %}</a>
	<br /><br />
</form>

{% endblock content %}
