{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% block meta_title %}{% trans "Exams" %}{% endblock meta_title %}
{% block title %}{% trans "Exams List" %}{% endblock title %}

			{% block content %}
				<a class="btn btn-primary" href="{% url "exams_add" %}">{% trans "Add Exam" %}</a>
				<!-- Start students Listing -->
				{% if exams %}
				<table class="table table-striped table-hover">
					{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
					<thead>
						<tr>
							<th>№</th>
							<th>
								<a href="{% url "exams" %}?order_by=subject{% if order_by == 'subject' and reverse != '1' %}&amp;reverse=1{% elif order_by == '' and reverse != '1' %}&amp;reverse=1{% endif %}">{% trans "Subject" %}
								{% if order_by == 'subject' and reverse != '1' %}&uarr;
								{% elif order_by == '' and reverse != '1' %}&uarr;
								{% elif order_by == 'subject' and reverse == '1' %}&darr;
								{% endif %}</a>
							</th>
							<th>
								<a href="{% url "exams" %}?order_by=date{% if order_by == 'date' and reverse != '1' %}&amp;reverse=1{% endif %}">{% trans "Date" %}
								{% if order_by == 'date' and reverse != '1' %}&uarr;
								{% elif order_by == 'date' and reverse == '1' %}&darr;
								{% endif %}</a>
							</th>
							<th>
								<a href="{% url "exams" %}?order_by=lecturer{% if order_by == 'lecturer' and reverse != '1' %}&amp;reverse=1{% endif %}">{% trans "Lecturer" %}
								{% if order_by == 'lecturer' and reverse != '1' %}&uarr;
								{% elif order_by == 'lecturer' and reverse == '1' %}&darr;
								{% endif %}</a>
							</th>
							<th>
								<a href="{% url "exams" %}?order_by=group{% if order_by == 'group' and reverse != '1' %}&amp;reverse=1{% endif %}">{% trans "Group" %}
								{% if order_by == 'group' and reverse != '1' %}&uarr;
								{% elif order_by == 'group' and reverse == '1' %}&darr;
								{% endif %}</a>
							</th>
							<th>{% trans "Actions" %}</th>
						</tr>
					</thead>
					{% endwith %}
					<tbody>
						{% for exam in exams %}
						<tr class="evan">
							<td>
								{% if is_paginated %}
									{{ page_obj.start_index|add:forloop.counter|add:"-1" }}
								{% else %}
									{{ forloop.counter }}
								{% endif %}
							</td>
							<td><a href="{% url "exams_edit" exam.id %}">{{ exam.subject }}</a></td>
							<td>{{ exam.date }}</a></td>
							<td>{{ exam.lecturer }}</a></td>
							<td><a href="{% url "groups_edit" exam.group.id %}">{{ exam.group }}</a></td>
							<td>
								<div class="btn-group">
										<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{% trans "Action" %} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
										<li><a href="{% url "exams_edit" exam.id %}">{% trans "Edit" %}</a></li>
										<li><a href="{% url "exams_delete" exam.id %}">{% trans "Delete" %}</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% with object_list=exams %}
					{% include "students/paginated.html" %}
				{% endwith %}
				{% else %}
				<p>{% trans "No exams in the database" %}</p>
				{% endif %}

	{% endblock content %}
