{% extends "students/base.html" %}
{% load static from staticfiles %}
{% block meta_title %}Додати Групу{% endblock meta_title %}
{% block title %}Додати Групу{% endblock title %}

{% if errors %}
  <div class="alert alert-warning" role="alert">
    {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<p>
    {% endfor %}
  </div>
{% endif %}
{% block content %}
<form action="{% url "groups_add" %}" method="post"
      enctype="multipart/form-data">
      {% csrf_token %}
  <div>
    <label for="title">Групи*</label>
    <input type="text" value="{{request.POST.title}}"
           name="title" id="title"
           placeholder="Введіть назву групи" />
    <span class="help-block">{{ errors.title }}</span>
  </div>
  <div>
    <label for="leader">Староста</label>
    <select name="leader" id="leader">
        <option value="">Виберіть студента</option>
        {%  for student in students%}
          <option value="{{ student.id }}" {% if student.id == request.POST.leader|add:0 %}
                  selected="1"{% endif %}>{{student.last_name}} {{student.first_name}}, id={{student.id}}</option>
        {% endfor %}
    </select>
    <span class="help-block">{{ errors.leader }}</span>
  </div>
  <div>
    <label for="notes">Додаткові Нотатки</label>
      <textarea name="notes" id="notes" class="form-control"></textarea>
  </div>
  <div>
    <input type="submit" value="Додати" name="add_button" />
    <button type="submit" name="cancel_button">Скасувати</button>
</div>
</form>
{% endblock content %}
