{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block meta_title %}{% trans "Group Update" %}{% endblock meta_title %}
{% block title %}{% trans "Group Update" %}{% endblock title %}

{% if errors %}
  <div class="alert alert-warning" role="alert">
    {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}<p>
    {% endfor %}
  </div>
{% endif %}
{% block content %}
{% crispy form %}
{% endblock content %}
