/* Global Style*/
#header{
	background: url('http://uconstructor.com/_ld/3/44534487.jpg');
	background-repeat: repeat;
	margin-bottom: 5px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: bold;
}


#group-selector>select{
	width: 85%;
	margin-top: 35px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

.alert{
	margin-top: 10px;
}

#footer{
	border-top: 1px solid #DDDDDD;
	padding-top: 10px;
	background: url('http://uconstructor.com/_ld/3/44534487.jpg');
	background-repeat: repeat;
}

#month>ul{
	text-align: center;
}

#month>ul>li{
	display: inline;
}
#month>ul>li>a{
	text-decoration: none;
}

.border {
	border: 1px solid #DDDDDD;
}

.border th,
.border td{
	border: 1px solid #DDDDDD;
	border-collapse: collapse;
}

.evan{
	background: #f4f4f4;
}


.h2_edit{
	text-align: center;
}

.gr_selector{
	width: 48%;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	color: #555555;
}

.edit_student{
	text-align: center;
}

.edit_student td{
	text-align: left;
	vertical-align: top;
	padding-top: 15px;
}

td.right{
	text-align: right;
	padding-right: 15px;
}

textarea{
	overflow: auto;
}

#evan1{
	background: #f2f2f2;
	border-top: 1px solid #DDDDDD;
}
